@font-face {
    font-family: 'HankenGrotesk';
    src: url(assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
    font-weight: 500 800;
}

* {
    margin: 0;
    padding: 0;

}

body {
    background-color: hsl(221, 100%, 96%);
    font-family: 'HankenGrotesk', sans-serif;
}

main {
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    margin: 100px auto;
    height: auto;



}

.result {
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 500px;
    border-radius: 24px;
    z-index: 1;
    text-align: center;
    color: hsl(221, 100%, 96%);

}

.summury {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    box-shadow: 0 20px 40px hsla(241, 100%, 89%, 0.5);
    margin-left: -24px;


}

h2 {
    text-align: center;
}

.summury h2 {
    text-align: left;
    padding-left: 60px;
    color: hsl(224, 30%, 27%);
    margin-bottom: 12px;
}

.sum {
    text-align: left;
    padding-left: 50px;


}

.sum p {
    display: inline;


}



.result>h2:first-of-type {
    opacity: 50%;
    padding: 32px;
    font-weight: 500;
    font-size: 24px;

}

.circle p {
    opacity: 50%;

}

.circle {
    width: 125px;
    height: 125px;
    padding: 32px;
    border-radius: 50%;
    background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    margin: 0 auto;
}

h1 {
    padding-top: 8px;
    font-size: 68px;
    color: white;
}

.great p {
    opacity: 50%;
    font-size: 18px;
    padding: 0 44px;
}

.great h2 {
    margin-top: 24px;
    font-size: 28px;
    color: white;
    margin-bottom: 16px;

}

.summury h2 {
    padding: 32px;
    font-weight: 600;
    font-size: 24px;
    margin-left: 24px;
    padding-bottom: 0;

}

.Reaction .left p {
    color: hsl(0, 100%, 67%)
}

.bold {
    font-weight: 800;
    color: hsl(224, 30%, 27%)
}



.Reaction {
    background-color: hsla(0, 100%, 67%, 0.1);
    padding: 16px;
    font-size: 18px;
    border-radius: 8px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 16px 0px;
}


.left {
    display: flex;
    align-items: center;
    gap: 8px;
}

.right p {
    color: hsl(224, 30%, 27%);
    opacity: 50%;
}



.Memory {
    background-color: hsl(39, 100%, 56%, 0.1);
    padding: 16px;
    font-size: 18px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 16px 0px;
    border-radius: 8px;
}

.Memory .left p {
    color: hsl(39, 100%, 56%);
}

.Verbal {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 16px 0;
    padding: 18px;
    font-size: 18px;
    border-radius: 8px;
    background-color: hsl(166, 100%, 37%, 0.1);

}

.Verbal .left p {
    color: hsl(166, 100%, 37%);
}

.Visual {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 16px 0 38px 0;
    padding: 18px;
    font-size: 18px;
    border-radius: 8px;
    background-color: hsl(234, 85%, 45%, 0.1);
}

.Visual .left p {
    color: hsl(234, 85%, 45%);
}

.button {
    text-align: center;
    background-color: hsl(224, 30%, 27%);
    color: hsl(221, 100%, 96%);
    padding: 18px;
    border-radius: 30px;
    width: 65%;
    margin-left: 65px;
    font-size: 18px;
    cursor: pointer;

}

.button:hover {
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));

}

@media (max-width:600px) {
    body {
        background-color: white;
    }

    main {
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    .result {
        width: 100%;
        margin-top: 0;
        border-radius: 0 0 32px 32px;
        height: 450px;
    }

    .summury {
        width: 100%;
        margin: 0;
        margin-top: -24px;
        border-radius: 0;
    }

    .summury h2 {
        margin: 16px;
    }

    .Reaction,
    .Memory,
    .Verbal,
    .Visual {
        width: 80%;
        padding: 18px;

    }
}